<div>
  <div class="bgimg-1">
    <div class="flex-container">
      <div>
        <img src="../../assets/message_2.png" class="text1" alt="550th Birth Anniversary of Guru Nanak in 2019."/>
      </div>
      <div>
        <img src="../../assets/message_3.png" class="text2" alt="Lets celebrate by planting 550 trees at 1820 locations worldwide."/>
      </div>
      <div>
        <button type="button" class="btn btn-info sign-up-btn" data-toggle="modal" data-target="#exampleModal">Sign Up</button>
      </div>

    </div>
  </div>

  <div class="about" id="about-ecosikh">
    <div class="container">
      <h3>About EcoSikh</h3>
      <p class="text-justify">EcoSikh is a response from the Sikh community to the threats of climate change and the deterioration of the natural environment. Our organization arose as part of the Long Term Plans for Generational Change programme initiated in 2009 by the United Nations Development Programme (UNDP) and the Alliance of Religions and Conservation, UK (ARC) to help the world’s major religious traditions create long-term plan to improve their relationship with the environment and to guide their investment towards environmental protection.</p>
    </div>
  </div>

  <div class="bgimg-4">
    <div class="container youtube-container">
      <div class="video-container">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/1fbNsC3jlFU" frameBorder="0" title="Embeded youtube video"></iframe>
      </div>
    </div>
  </div>

</div>
<app-gallery></app-gallery>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

